@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
   padding: 56px 0;
   &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-menu {
      width: 545px;
      &__list {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &__link {
         font-size: 18px;
         line-height: 23px;
         color: #1f1534;
         opacity: 0.5;
         &--active {
            font-weight: 700;
            opacity: 1;
         }
      }
   }
}
.burger__btn {
   display: none;
}
.hero {
   &-wrapper {
      position: relative;
      display: flex;
      padding: 130px 0;
      background: url(../images/hero.jpg) no-repeat right center;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: -100px;
         width: 132px;
         height: 115px;
         background: url(../images/element.svg) no-repeat;
      }
   }
   &-content {
      width: 430px;
      &__title {
         margin-bottom: 25px;
         font-weight: 700;
         font-size: 48px;
         line-height: 56px;
         color: #000;
      }
      &__text {
         margin-bottom: 45px;
         font-size: 21px;
         line-height: 32px;
      }
      &__btn {
         background-color: $blue;
         color: #ffffff;
         transition: all 0.3s;
         &:hover {
            background-color: #066bfa;
         }
      }
   }
}
.services {
   text-align: center;
   &-title {
      margin-bottom: 60px;
   }
   &-descr {
      margin-bottom: 80px;
   }
   &-inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 30px;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: -400px;
         z-index: -1;
         width: 100%;
         height: 100%;
         background: url(../images/bg-element.svg) no-repeat left center;
      }
      &::after {
         content: "";
         position: absolute;
         top: 0;
         right: -50px;
         z-index: -1;
         width: 100%;
         height: 100%;
         background: url(../images/services-element.svg) no-repeat right center;
      }
   }
   &-item {
      padding: 54px 45px 45px 37px;
      flex: 0 0 32%;
      margin-bottom: 37px;
      text-align: left;
      background: #ffffff;
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
      border-radius: 20px;
      img {
         margin-bottom: 22px;
      }
      &__title {
         font-weight: 700;
         font-size: 24px;
         line-height: 56px;
         color: #000;
      }
      &__text {
         font-size: 16px;
         line-height: 28px;
      }
   }
   &-btn {
      color: $blue;
      border: 2px solid #458ff6;
      transition: all 0.3s;
      &:hover {
         color: #fff;
         background-color: $blue;
      }
   }
}
.providers {
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__image {
      flex-basis: 48%;
   }
   &__content {
      flex: 0 1 48%;
   }
   &__title {
      margin-bottom: 60px;
      &::after {
         left: 0;
      }
   }
   &__text {
      margin-bottom: 37px;
   }
   &__btn {
      color: $blue;
      border: 2px solid #458ff6;
      transition: all 0.3s;
      &:hover {
         color: #fff;
         background-color: $blue;
      }
   }
}
.apps {
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__content {
      flex: 0 1 48%;
   }
   &__image {
      flex: 0 1 48%;
   }
   &__title {
      margin-bottom: 60px;
      &::after {
         left: 0;
      }
   }
   &__text {
      margin-bottom: 37px;
   }
   &__btn {
      color: $blue;
      background-color: inherit;
      border: 2px solid #458ff6;
      transition: all 0.3s;
      cursor: pointer;
      img {
         display: inline-block;
      }
   }
}
.reviews {
   color: #fff;
   &__wrapper {
      position: relative;
      padding: 64px 118px 80px 118px;
      background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
      border-radius: 24px;
      &::before,
      &::after {
         content: "";
         width: 100%;
         height: 100%;
         position: absolute;
      }
      &::before {
         left: -70px;
         bottom: 0;
         z-index: 2;
         background: url(../images/services-element.svg) no-repeat bottom 20px left;
      }
      &::after {
         right: 0;
         top: 0;
         background: url(../images/reviews-element.svg) no-repeat top right;
      }
   }
   &__title {
      margin-bottom: 93px;
      color: #fff;
      text-align: center;
      &::after {
         background-color: #fff;
      }
   }
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__item {
      flex: 0 1 47%;
      &-text {
         font-size: 19px;
         line-height: 30px;
      }
   }
   &__author {
      display: flex;
      align-items: center;
      img {
         margin-right: 30px;
         border-radius: 50%;
         border: 2px solid #fff;
      }
      &-name {
         font-weight: 700;
         font-size: 22px;
         line-height: 40px;
      }
      &-status {
         font-size: 18px;
         line-height: 40px;
      }
   }
}
.slick-arrow {
   position: absolute;
   bottom: 0;
   z-index: 2;
   border: none;
   background-color: transparent;
   cursor: pointer;
}
.slick-prev {
   left: 30%;
   transform: rotate(180deg);
}
.slick-next {
   right: 30%;
}
.slick-dots {
   margin-top: 42px;
   display: flex;
   justify-content: center;
   transform: translateY(5px);
   li {
      font-size: 0;
      line-height: 1;
      padding: 9px;
      opacity: 0.3;
      button {
         width: 12px;
         height: 12px;
         border: none;
         border-radius: 50%;
         background: #5b9bf3;
         cursor: pointer;
      }
      .slick-active {
         opacity: 1;
      }
   }
}
.articles {
   text-align: center;
   &__title {
      margin-bottom: 107px;
   }
   &__inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      text-align: left;
      margin-bottom: 70px;
      z-index: 3;
      &::before {
         content: "";
         position: absolute;
         top: -40px;
         left: -50px;
         z-index: -1;
         width: 100%;
         height: 100%;
         background: url(../images/services-element.svg) no-repeat left top;
      }
      // &::after {
      //    content: "";
      //    position: absolute;
      //    top: -50px;
      //    right: -100px;
      //    z-index: -3;
      //    width: 100%;
      //    height: 100%;
      //    background: url(../images/articles-element.svg) no-repeat right center / 40%;
      // }
   }
   &__item {
      flex: 0 1 30%;
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
      border-radius: 20px;
      img {
         border-radius: 20px 20px 0 0;
      }
      &-body {
         padding: 24px 33px 35px 33px;
      }
      &-title {
         margin-bottom: 12px;
         font-weight: 700;
         font-size: 21px;
         line-height: 32px;
         color: #000;
      }
      &-text {
         margin-bottom: 25px;
         font-weight: 300;
         font-size: 16px;
         line-height: 28px;
      }
      &-link {
         padding-right: 25px;
         font-weight: 300;
         font-size: 17px;
         line-height: 28px;
         color: #4089ed;
         background: url(../images/arrow.svg) no-repeat top 11px right / 15px;
         &:hover {
            text-decoration: underline;
         }
      }
   }
   &__btn {
      color: $blue;
      border: 2px solid #458ff6;
      transition: all 0.3s;
      &:hover {
         color: #fff;
         background-color: $blue;
      }
   }
}
.footer {
   color: #fff;
   background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
   &__wrapper {
      padding: 100px 0;
      display: flex;
      justify-content: space-between;
   }
   &__column {
      &-title {
         margin-bottom: 20px;
         font-size: 20px;
         font-weight: 700;
      }
      &-list {
         li {
            &:not(:last-child) {
               margin-bottom: 15px;
            }
         }
      }
      &:first-child {
         flex: 0 1 390px;
         img {
            margin-bottom: 17px;
         }
      }
   }
   &__text {
      margin-bottom: 30px;
   }
   &__copy {
      font-size: 16px;
      line-height: 28px;
   }
}

@import "media";
// @import "../../node_modules/slick-carousel/slick/slick";
// @import "../../node_modules/magnific-popup/dist/magnific-popup";
